/.vs
/.vs/NilkanthApplication
/.vs
/NilkanthApplication/bin/Debug
/NilkanthApplication/bin
/NilkanthApplication/obj
/NilkanthApplication/bin/Debug
/NilkanthApplication/obj/Debug
/NilkanthApplication/obj
NilkanthApplication/obj/Debug/NilkanthApplication.csproj.FileListAbsolute.txt
/.vs
/NilkanthApplication/.vs
/NilkanthApplication/obj
/.vs/NilkanthApplication
/.vs
