<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="DataConnectionString" connectionString="Data Source=DHAVAL\SQLEXPRESS;Initial Catalog=NilkanthApplicationDB;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />-->
		<add name="DataConnectionString" connectionString="Data Source=localhost;Initial Catalog=NilkanthApplicationDB;Persist Security Info=True;User ID=sa;Password=sa@12345"
		  providerName="System.Data.SqlClient" />
		<add name="NilkanthApplication.Properties.Settings.NilkanthApplicationDBConnectionString"
		 connectionString="Data Source=localhost;Initial Catalog=NilkanthApplicationDB;Persist Security Info=True;User ID=sa;Password=sa@12345"
		 providerName="System.Data.SqlClient" /> <!--TrustServerCertificate=True-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>

	<appSettings>
		<!--<add key="ClientID" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
		<add key="ClientSecret" value="" />
		<add key="Scope" value="" />
		<add key="GrantType" value="Implicit" />
		<add key="TenantID" value="" />
		<add key="TokenURL" value="https://login.microsoftonline.com/{TenantID}/oauth2/v2.0" />
		<add key="Environment" value="Production" />
		<add key="BaseURL" value="https://org2fc997e3.api.crm8.dynamics.com/api/data/v9.2/" />-->
		
		
		<add key="SecurityKey" value="Tripearltech" />
		<add key="CompanyName" value="Nilkanth" />
		<add key="CompanyLogo" value="Logo.png" />
		<add key="DomainName" value="abc.com" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="portname" value="COM3" />
		<add key="baudrate" value="115200" />
		<add key="parity" value="0" />
		<add key="databits" value="8" />
		<add key="commandtext" value="3" />
		<add key="stopbits" value="1" />
		<add key="datatype" value="Decimal" />
		<add key="samplerate" value="1000" />
		<add key="registerqty" value="15" />
		<add key="startaddr" value="0" />
		<add key="slaveid" value="1" />
		<!--<add key="DataConnectionString" value="Data Source=DESKTOP-67VM5ML;Initial Catalog=NilkanthApplicationDB;Persist Security Info=True;User ID=sa;Password=sa@12345"/>-->

	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>